
@font-face{
    font-family: HeavyMetal;
    src: url(../assets/fonts/Hvymtl2.ttf);
}

::-webkit-scrollbar {
    width: 1vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #4b361f60;
    box-shadow: inset 0 0 0.3vw #4b361f;
    border-radius: 0.5vw;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #816c3f;
    border-radius: 0.5vw;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkorange;
    border-radius: 0.5vw;
  }

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../assets/images/loading_mechlab.png);
    background-position: center;
    height: 100%;
    margin: 0;
}

header{
    max-height: 10vh;
    min-height: 10vh;
    flex: 0 1 5%;
    background-image: url(../assets/images/concrete.png);
}

header > h1 {
    max-height: 8vh;
    min-height: 8vh;
    text-align: center;
    font-family: HeavyMetal;
    font-size: 2em;
    color: rgb(78, 0, 0);
    margin:0;
}

 nav{
    flex: 1 1;
    max-height: 2vh;
    min-height: 2vh;
    display: flex;
    justify-content:space-around;
    background-image: url(../assets/images/mechbay_floors_b_spc.png);
}

a {
    font-family: HeavyMetal;
    color: darkorange;
}

a:visited{
    font-family: HeavyMetal;
    color: darkgoldenrod;
}

a:hover {
    color: orange;
}
a:visited {
    color: darkgoldenrod;
}
/*START MAIN APP AREA CSS */
#appMain{
    max-height: 85vh;
    min-height: 85vh;
    flex: 1 0 400px;
    display: flex;
    justify-content: space-around;

}

#eqSelection{
    flex: 1 0 200px;
    overflow-y: visible;
}

fieldset{
    border: 3px solid #816c3f;
    border-radius: 4px;
    background-color:#4b361f60;
}

form{
    display: flex;
    flex-direction: column;
    color: darkgoldenrod;
    font-family: HeavyMetal;
    font-size: .80em;
}

form#selectForm{
    max-height: 85vh;
    overflow-y:auto;
}

form > h5{
    float: left;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}

form > label{
    width: 95%;
    text-indent: 5%;
}

select {
    width: 100%;
    padding: 0 5%;
    display: inline-block;
    border: 2px solid #816c3f;
    background-color:#4b361f;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: HeavyMetal;
    color: darkorange;
    font-size: 1.1em;
  }

  select:hover{
    border: 2px solid darkorange;
  }

#mechs{
    flex: 1 1 0;
}

#mechOutlineDiv{
    flex: 2 0 200px;
    background-image: url(../assets/images/mechbay_wall_df.png);
    background-repeat: center;
}

#mechOutline{
    max-height: 80vh;
    max-width: 100%;
    object-fit:scale-down;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    align-content: center;

}

#eqOutput{
    flex: 1 0 200px;
}
/*END MAIN APP AREA CSS*/

#footerDiv{
    max-height: 5vh;
    min-height: 5vh;
    flex: 1 1 100%;
    display: flex;
    background-image: url(../assets/images/concrete.png);
    background-repeat: repeat;
}
div > footer{
    flex: 1 0 100%;
    text-align:center;
}

footer > h4{
    font-family: HeavyMetal;
    color: darkorange;
    font-size: 1.3em;
    vertical-align: center;
    margin:0;
    padding:5px;
}

footer > h4 > a:hover{
    color: rgb(78, 0, 0);
}