
@font-face{
    font-family: HeavyMetal;
    src: url(../assets/fonts/Hvymtl2.ttf);
}

:root {
    --main-bg-color: #4b361f;
    --main-line-color: #816c3f;
    --semitrans-bg-color: #00000060;
    --hover-color: darkorange;
    --visited-color:coral;
    --font-color: darkgoldenrod;
    --mechlab-bg: url(../assets/images/loading_mechlab.png);
    --banner-bg: url(../assets/images/mechbay_floors_b_spc.png);
    --interface-bg: url(../assets/images/mechbay_wall_df.png);
    --big-stroke: 1;
    --thin-stroke: 0.5;
  }

a {
    color:var(--font-color);
}

a:visited{
    color:var(--visited-color);
}

a:hover {
    color: var(--hover-color);
}

::-webkit-scrollbar {
    width: 1vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--semitrans-bg-color);
    box-shadow: inset 0 0 0.3vw var(--main-bg-color);
    border-radius: 0.5vw;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-line-color);
    border-radius: 0.5vw;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--hover-color);
    border-radius: 0.5vw;
  }

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: var(--mechlab-bg);
    background-position: center;
    height: 100%;
    margin: 0;
    color: var(--font-color);
    font-family:HeavyMetal;
}

header{
    max-height: 10vh;
    min-height: 10vh;
    flex: 0 1 5%;
    background-image: var(--banner-bg);
}

header > h1 {
    max-height: 7vh;
    min-height: 7vh;
    text-align: center;
    font-size: 6vh;
    margin:0;
}

 nav{
    font-size: 2.5vh;
    flex: 1 1;
    max-height: 3vh;
    min-height: 3vh;
    display: flex;
    justify-content:space-around;
}

/*START MAIN APP AREA CSS */
#appMain{
    max-height: 85vh;
    min-height: 85vh;
    flex: 1 0 400px;
    display: flex;
    justify-content: space-around;

}

#eqSelection{
    flex: 1 0 200px;
    overflow-y: visible;
}

fieldset{
    border: 3px solid var(--main-line-color);
    border-radius: 4px;
    background-color:var(--semitrans-bg-color);
}

form{
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    font-size: .80em;
    max-height: 85vh;
    overflow-y:auto;
}

form > h5{
    float: left;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}

form > label{
    width: 95%;
    text-indent: 5%;
}

select {
    width: 100%;
    padding: 0 5%;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid var(--main-line-color);
    background-color:var(--main-bg-color);
    font-family: HeavyMetal;
    color: var(--font-color);
    font-size: 1.1em;
  }

  .formOption{
    background-color:var(--main-bg-color);
    font-family: HeavyMetal;
    color: var(--font-color);
    font-size: 1.1em;
    overflow:visible;
}

  select:hover{
    border: 2px solid var(--hover-color);
  }

#mechs{
    flex: 1 1 0;
}

#mechOutlineDiv{
    flex: 2 0 200px;
    background-image: var(--interface-bg);
    background-repeat: center;
}

#mechOutline{
    max-height: 80vh;
    max-width: 100%;
    object-fit:scale-down;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    align-content: center;

}

#eqOutput{
    flex: 1 0 200px;
}
/*END MAIN APP AREA CSS*/

#footerDiv{
    max-height: 5vh;
    min-height: 5vh;
    flex: 1 1 100%;
    display: flex;
    background-image: var(--banner-bg);
    background-repeat: repeat;
}
div > footer{
    flex: 1 0 100%;
    text-align:center;
}

footer > h4{
    font-size: 2vh;
    vertical-align: center;
    margin:0;
    padding:0;
}

footer > h4.disclaimer{
    font-weight: lighter;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    min-width: 100vw; /* Full width */
    min-height: 100vh; /* Full height */
    max-width: 100vw; /* Full width */
    max-height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--main-bg-color); /* Fallback color */
    background-color: var(--semitrans-bg-color); /* Black w/ opacity */
  }

  /* Modal Content/Box */
.modal-content {
    flex-direction: column;
    /*background-color: var(--main-bg-color);
    border: 3px solid var(--main-line-color);*/
    margin: 15vh auto; 
    max-width: 70vw;
    max-height: 70vh;
    min-height: 20vh;
  }

  #modalSVG{
    margin: auto;
    max-height: 70vh;
    max-width: 70vw;
    object-fit:scale-down;
    align-content: center;
}

#loadingIcon{
      fill:var(--main-line-color);
  }

#modalBox{
    stroke:var(--main-line-color);
    fill:var(--main-bg-color);
    stroke-width: var(--big-stroke);
}

.modalButton, .modalClose{
    stroke:var(--main-line-color);
    fill:var(--semitrans-bg-color);
    stroke-width: var(--thin-stroke);
}
.modalButton:hover, .modalClose:hover{
    stroke:var(--hover-color);
    cursor:pointer;
}
svg text{
    fill:var(--font-color);
    font-size: 3pt;
    font-family:HeavyMetal;
}
svg text.buttonText{
    fill:darkorange;
}
#modalTitle{
    font-size: 0.4em;
}
#modalDescription{
    color:var(--font-color);
    font-size: 2pt;
    font-family:HeavyMetal;
}

.debugborder{
    stroke:var(--hover-color);
    fill:#00000000;
    stroke-width: var(--thin-stroke);
    stroke:#00000000;
}